@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default light theme */
:root {
  --color-primary: theme('themes.light.primary');
  --color-secondary: theme('themes.light.secondary');
  --color-background: theme('themes.light.background');
  --color-foreground: theme('themes.light.foreground');
  --color-surface: theme('themes.light.surface');
  --color-languageIcon: theme('themes.light.languageIcon');
  --color-languageIconHover: theme('themes.light.languageIconHover');
}

/* System preference dark mode */
/* @media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --color-primary: theme('themes.dark.primary');
    --color-secondary: theme('themes.dark.secondary');
    --color-background: theme('themes.dark.background');
    --color-foreground: theme('themes.dark.foreground');
    --color-surface: theme('themes.dark.surface');
    --color-languageIcon: theme('themes.dark.languageIcon');
    --color-languageIconHover: theme('themes.dark.languageIconHover');
  }
} */

/* Manual dark mode */
[data-theme='dark'] {
  --color-primary: theme('themes.dark.primary');
  --color-secondary: theme('themes.dark.secondary');
  --color-background: theme('themes.dark.background');
  --color-foreground: theme('themes.dark.foreground');
  --color-surface: theme('themes.dark.surface');
  --color-languageIcon: theme('themes.dark.languageIcon');
  --color-languageIconHover: theme('themes.dark.languageIconHover');
}

body {
  color: var(--color-foreground);
  background-color: var(--color-background);
}

.atma {
  font-family: 'Atma', system-ui;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
